{#
/**
 * Array 5 point choice
 * @var $i
 * @var $myfname
 * @var $CHECKED
 * @var $checkconditionFunction
 * @var $value
 */
 #}

 <script>
 $(function(){
  $('.content-persona input[type="radio"]').click(function(){
    if ($(this).is(':checked'))
    {
      var number= $(this).val();
      $('.persona4,.persona5,.persona6,.persona7,.persona8,.persona9,.persona10').removeClass('persona-active-4 persona-active-5 persona-active-6 persona-active-7 persona-active-8 persona-active-9 persona-active-10')
      $('.persona'+number).addClass('persona-active-'+number);
    }
  });
});

 </script>


 <!-- answer_td_input -->
 {% if i > 3  %}
   <tr>
    <td class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item ">

        <div>
            {% if i==4 %}

                <span class="persona persona4"></span>

            {% endif  %}
            {% if i==5 %}

               <span class="persona persona5"></span>

           {% endif  %}
           {% if i==6 %}

               <span class="persona persona6"></span>

           {% endif  %}
           {% if i==7 %}

               <span class="persona persona7"></span> 

           {% endif  %}
           {% if i==8 %}

               <span class="persona persona8"></span> 

           {% endif  %}
           {% if i==9 %}

               <span class="persona persona9"></span> 

           {% endif  %}
           {% if i==10 %}

               <span class="persona persona10"></span> 


           {% endif  %}

       </div>
       <div>


        <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
        >
        <label for="answer{{ myfname }}-{{ i }}"  class="label-persona">

         {% if i==4 %}

            Extremadamente insatisfecho

        {% endif  %}
        {% if i==5 %}

            Insatisfecho

        {% endif  %}
        {% if i==6 %}

            Moderadamente insatisfecho

        {% endif  %}
        {% if i==7 %}

            Ni satisfecho ni insatisfecho

        {% endif  %}
        {% if i==8 %}

            Moderasamente satisfecho

        {% endif  %}
        {% if i==9 %}

            Satisfecho

        {% endif  %}
        {% if i==10 %}


            Extremadamente Satisfecho

        {% endif  %}

    </label>
</div>
</td>
</tr>
{% endif %}
<!-- end of answer_td_input -->
