{#
/**
 * Array 5 point choice
 * @var $i
 * @var $myfname
 * @var $CHECKED
 * @var $checkconditionFunction
 * @var $value
 */
#}


<style>
table.ls-answers {
    width: 330px !important;
}
</style>


  
<tr class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item" width='200px'>

 <td>
 

    <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
     />
    <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label>
 </td>
</tr>
<tr class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item" width='200px'>

 <td>
 

    <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
     />
    <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label>
 </td>
</tr>
<tr class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item" width='200px'>

 <td>
 

    <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
     />
    <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label>
 </td>
</tr>
<tr class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item" width='200px'>

 <td>
 

    <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
     />
    <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label>
 </td>
</tr>
<tr class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item" width='200px'>

 <td>
 

    <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
     />
    <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label>
 </td>
</tr>
<tr class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item" width='200px'>

 <td>
 

    <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
     />
    <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label>
 </td>
</tr>
<tr class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item" width='200px'>

 <td>
 

    <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
     />
    <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label>
 </td>
</tr>
