{#
/**
 * Array 5 point choice
 * @var $i
 * @var $myfname
 * @var $CHECKED
 * @var $checkconditionFunction
 * @var $value
 */
 #}

 <script>
 $(function(){
  $('.content-caritas input[type="radio"]').click(function(){
    if ($(this).is(':checked'))
    {
      var number= $(this).val();
      $('.carita4,.carita5,.carita6,.carita7,.carita8,.carita9,.carita10').removeClass('carita-active-4 carita-active-5 carita-active-6 carita-active-7 carita-active-8 carita-active-9 carita-active-10')
      $('.carita'+number).addClass('carita-active-'+number);
    }
  });
});

 </script>

 <!-- answer_td_input -->
 {% if i > 3  %}
   <tr>
    <td class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item ">

      <div>
        {% if i==4 %}

          <span class="carita carita4"></span>

        {% endif  %}
        {% if i==5 %}

         <span class="carita carita5"></span>

       {% endif  %}
       {% if i==6 %}

         <span class="carita carita6"></span>

       {% endif  %}
       {% if i==7 %}

         <span class="carita carita7"></span> 

       {% endif  %}
       {% if i==8 %}

         <span class="carita carita8"></span> 

       {% endif  %}
       {% if i==9 %}

         <span class="carita carita9"></span> 

       {% endif  %}
       {% if i==10 %}

         <span class="carita carita10"></span> 


       {% endif  %}

     </div>
     <div>


      <input
      type="radio"
      name="{{ myfname }}"
      id="answer{{ myfname }}-{{ i }}"
      value="{{ value }}"
      {{ CHECKED }} 

      onchange='cambiarcarita()'
      >
      <label for="answer{{ myfname }}-{{ i }}"  class="label-carita">

       {% if i==4 %}

        Extremadamente insatisfecho

      {% endif  %}
      {% if i==5 %}

        Insatisfecho

      {% endif  %}
      {% if i==6 %}

        Moderadamente insatisfecho

      {% endif  %}
      {% if i==7 %}

        Ni satisfecho ni insatisfecho

      {% endif  %}
      {% if i==8 %}

        Moderasamente satisfecho

      {% endif  %}
      {% if i==9 %}

        Satisfecho

      {% endif  %}
      {% if i==10 %}


        Extremadamente Satisfecho

      {% endif  %}

    </label>
  </div>
</td>
</tr>
{% endif %}
<!-- end of answer_td_input -->
