{#
/**
 * Array 5 point choice
 * @var $i
 * @var $myfname
 * @var $CHECKED
 * @var $checkconditionFunction
 * @var $value
 */
 #}

 <!-- answer_td_input -->
 {% if i != 1 or i !=2 or i !=3  %}
 <tr>
    <td class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item">
    
        {% if i==4 %}
            carita 4 
        {% endif  %}
        {% if i==5 %}
            carita 5 
        {% endif  %}
        {% if i==6 %}
            carita 6 
        {% endif  %}
        {% if i==7 %}
            carita 7 
        {% endif  %}
        {% if i==8 %}
            carita 8 
        {% endif  %}
        {% if i==9 %}
            carita 9
        {% endif  %}
        {% if i==10 %}
            carita 10 
        {% endif  %}


        <input
        type="radio"
        name="{{ myfname }}"
        id="answer{{ myfname }}-{{ i }}"
        value="{{ value }}"
        {{ CHECKED }}
        />
        <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
            {{ labelText }}
        </label>
    </td>
</tr>
{% endif %}
<!-- end of answer_td_input -->
