{#
/**
 * Array 5 point choice
 * @var $i
 * @var $myfname
 * @var $CHECKED
 * @var $checkconditionFunction
 * @var $value
 */
 #}

  <script>
 $(function(){
  $('.content-persona input[type="radio"]').click(function(){
    if ($(this).is(':checked'))
    {
      var number= $(this).val();
      $('.persona4,.persona5,.persona6,.persona7,.persona8,.persona9,.persona10').removeClass('persona-active-4 persona-active-5 persona-active-6 persona-active-7 persona-active-8 persona-active-9 persona-active-10')
      $('.persona'+number).addClass('persona-active-'+number);
    }
  });
});

 </script>

 <!-- answer_td_input -->
 <td class="answer_cell_{{ i }}{% if i=="" %} noanswer-item{% endif %} answer-item radio-item">

     

      <img src="/themes/question/estrellas/survey/questions/answer/arrays/10point/assets/estrella.png" class="estrella estrella{{ i }}" alt="">





     <input 
     type="radio"
     name="{{ myfname }}"
     id="answer{{ myfname }}-{{ i }}"
     value="{{ value }}"
     {{ CHECKED }}
     />
    {#  <label for="answer{{ myfname }}-{{ i }}"  class="ls-label-xs-visibility">
        {{ labelText }}
    </label> #}
</td>
<!-- end of answer_td_input -->
